* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-size: 100%;
}

body {
	font-family: 'Exo 2', sans-serif;
	width: 100%;
	height: 100%;
	background: #ededed;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 20px 0;
}
h1 {
	font-size: 2em;
	padding: 15px;
	text-transform: uppercase;
	text-align: center;
	color: #595a5b;
	letter-spacing: 2px;
}
.info {
	display: flex;
	width: 90%;
	max-width: 600px;
	justify-content: space-around;
	align-items: center;
	margin: 10px;
	margin-bottom: 30px;
	margin-right: -15px;
	font-size: 1.25em;
}
button, .score, .high-score {
	margin: 0 50px;
	text-align: center;
}
/* #button {
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #595a5b;
	font-size: 0.8em;
  font-weight: bold;
	letter-spacing: 2px;
	outline: none;
  height: 40px;
  width: 130px;
  border-radius:40px;
  background: #ededed;
  border: 2px solid #1ECD97;
  color: #1ECD97;
  text-shadow: 0;
  cursor: pointer;
  transition: all 0.25s ease;
}
#button:hover {
  color: white;
  background: #1ECD97;
} */
.current-score, .highest-score {
	font-weight: bold;
	font-size: 1.2em;
	color: #1ECD97;
}
.container {
	position: relative;
	width: 65vmin;
	min-width: 280px;
	height: 65vmin;
	min-height: 280px;
	margin: 0 auto;
	border-radius: 50%;
}
.button {
	width: 100%;
	height: 100%;
	border: 2px solid black;
	border-radius: 20px;
}

/* button stuff */

#start {
	text-align: center;
	/* width: 300px; */
	font-size: .5em;
	letter-spacing: 1px;
	font-weight: 700;
	text-transform: uppercase;
	position: absolute;
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
}
#start label {
	color: gray;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.switch {
  width: 24%;
  height: 24%;
  position: relative;
}
.switch label {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  color: #e8ebef;
  font-size: 1.8em;
  font-family: sans-serif;
  font-style: normal;
  text-align: center;
  line-height: 105px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  background: linear-gradient(#fdfdfd, #ece8dd);
  transition: all 0.1s ease-out;
  z-index: -1;
  box-shadow: inset 0 4px 3px rgba(255, 255, 255, 0.8),
										0 5px 8px rgba(0, 0, 0, 0.3),
										0 8px 8px 3px rgba(0, 0, 0, 0.2);
}
.switch.blue label {
	color: #bcc6f2;
}
.switch.red label {
	color: #f7adad;
}
.switch.yellow label {
	color: #f7f6c0;
}
.switch.green label {
	color: #c2f9c0;
}
.switch.orange label {
	color: #f9dcc0;
}
.switch label:before {
  content: "";
  position: absolute;
  left: -8px;
  right: -8px;
  top: -8px;
  bottom: -8px;
  z-index: -1;
  border-radius: inherit;
  box-shadow: inset 0 8px 8px rgba(0, 0, 0, 0.15);
  /* Smooth trick */
  filter: blur(1px);
}
.switch label:after {
  content: "";
  position: absolute;
  left: -16px;
  right: -16px;
  top: -16px;
  bottom: -16px;
  z-index: -2;
  border-radius: inherit;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05),
										0 1px 2px rgba(0, 0, 0, 0.15),
										0 0 8px rgba(0, 0, 0, 0.1);
}
.icon-off {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.icon-off:after {
	opacity: 1;
  content: "";
  display: block;
  position: absolute;
  width: 70%;
  height: 70%;
  left: 50%;
  top: 50%;
  z-index: -1;
  margin: -35% 0 0 -35%;
  border-radius: 50%;
  background: linear-gradient(#d8d7d0, #f8f6f3);
  box-shadow: 0 -2px 5px rgba(255, 255, 255, 0.2),
							0 2px 5px rgba(255, 255, 255, 0.15);
  -webkit-filter: blur(1px);
  /* Smooth trick */
  filter: blur(1px);
}

input {
  position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  cursor: pointer;
}
.active {
      box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.5),
			 									0 3px 5px rgba(0, 0, 0, 0.3),
												0 3px 5px 3px rgba(0, 0, 0, 0.1) !important;
}
.switch {
    position: absolute;

}
.switch.start-button {
	top: 50%;
	left: 50%;
	animation: startingbutton 1s forwards linear paused alternate infinite;
}
.switch.red {
	animation: startingred 1s forwards linear paused alternate infinite;
}
.switch.blue {
	animation: startingblue 1s forwards linear alternate infinite paused;
}
.switch.yellow {
	animation: startingyellow 1s forwards linear alternate infinite paused;
}
.switch.green {
	animation: startinggreen 1s forwards linear alternate infinite paused;
}
.switch.orange {
	animation: startingorange 1s forwards linear alternate infinite paused;
}
.start {
	text-align: center;
	/* width: 300px; */
	font-size: 5em;
	color: #1ECD97;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	font-weight: 700;
	z-index: 1000;
	text-transform: uppercase;
	position: absolute;
	top: 43%;
	left: 50%;
	opacity: 0;
	transform: translate(-50%, -50%) scale(0);
}
.animating {
	animation: fadein 1.3s forwards;
}

@keyframes fadein {
	0% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0);
	}
	50% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1.2);
	}
	100% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0);
	}
}
@keyframes startingbutton {
	0% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
	100% {
		opacity: 0;
		    transform: translate(-50%, -50%) scale(0);
	}
}

@keyframes startingred {
	0% {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0
	}
	100% {
		top: 28%;
		left: 6%;
		opacity: 1;
	}
}
@keyframes startingblue {
	0% {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0
	}
	100% {
		top: 20px;
		left: 38%;
		opacity: 1;
	}
}
@keyframes startingyellow {
	0% {
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
		opacity: 0
	}
	100% {
		top: 28%;
		right: 6%;
		opacity: 1;
	}
}
@keyframes startinggreen {
	0% {
		bottom: 50%;
		left: 50%;
		transform: translate(-50%, 50%);
		opacity: 0
	}
	100% {
		bottom: 11%;
		left: 18%;
		opacity: 1;
	}
}
@keyframes startingorange {
	0% {
		bottom: 50%;
		right: 50%;
		transform: translate(50%, 50%);
		opacity: 0
	}
	100% {
		bottom: 11%;
		right: 18%;
		opacity: 1;
	}
}

@media only screen and (max-width: 500px) {
	body {
		font-size: 0.8rem;
	}
	button, .score, .high-score {
		margin: 0 30px;
		text-align: center;
	}
	.start {
		top: 30%;
		left: 20%;
	}
}
@media only screen and (max-width: 400px) {
	body {
		font-size: 0.7rem;
	}
	button, .score, .high-score {
		margin: 0 20px;
		text-align: center;
	}
	.start {
		top: 30%;
		left: 14%;
	}
}
